---
import Layout from "layouts/Layout.astro";
import isUserAuthenticated from "helpers/isUserAuthenticated";
import Profile from "components/profile/index";
import getUser from "databases/functions/getUser";
import getUrlQuery from "helpers/getUrlQuery"
import { IUserProp } from "types/User";

const { user: userQuery } = getUrlQuery(Astro.request.url);
const username = userQuery || ""
let user: IUserProp = false
let session: IUserProp = false;

if (username) {
  session = await isUserAuthenticated(Astro)

  if (session && session.username.toLowerCase() === username.toLowerCase()) {
    user = session
  }

  else {
    const { data } = await getUser(username.toLowerCase());

    if (data) user = data
  }
}

const handleTitle = () => {
  if (!username) return "Query is missing"
  else if (!user) return "User not found"

  return `${user.username} Profile`
}

---

<Layout title={handleTitle()} user={session} ogImg={user ? user.og_img : ""}>
  {
    !username && (
      <h1>You need to add ?user=username to your url!</h1>
    )
  }

  {
    username && (user
      ? <Profile user={user} session={session} />
      : <h1>No user found</h1>
    )
  }
</Layout>